.menu-navigator .x-tree-icon-parent {
    background-image: none;
}
.menu-navigator .x-tree-icon {
    width: 0;
    height: 0;
}
.menu-navigator .x-grid-cell {
    cursor: pointer;
    height: 40px;
    border-style: solid;
    border-color: #ededed #c6c6c6 #ededed #c6c6c6;
    background: #F8F8F8;
}
.menu-navigator .x-grid-with-row-lines {
    border: none;
}

.menu-navigator .x-grid-row-selected .x-grid-cell {
    background: #D0E0F0;
}
.menu-navigator .x-grid-cell-last, .menu-navigator .x-grid-row-selected .x-grid-cell-last  {
    background: none;
    border: none;
}
.menu-navigator .x-grid-cell-last .x-grid-cell-inner  {
    height: 40px;
    width: 20px;
    padding: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 10px solid transparent;
}
.menu-navigator .x-grid-row-selected .x-grid-cell-last .x-grid-cell-inner {
    border-left: 10px solid #D0E0F0;
}

.menu-navigator .x-tree-node-text {
    text-decoration: underline;
}

.menu-navigator .notification-counter {
    width: 20px;
    height: 20px;
    color: white;
    text-align: center;
}


.menu-navigator .menu-item-name {
    margin-left: 20px;
    /*width: 100px;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
}

.menu-navigator .notification-counter,
.menu-navigator .menu-item-name {
    display: inline-block;
    vertical-align: bottom;
}

.menu-navigator .notification-counter span {
    vertical-align: middle;
}

.menu-navigator .x-grid-with-row-lines .x-grid-td {
    border-bottom-width: 1px;
}

.menu-navigator .x-grid-row .x-grid-cell-inner {
    white-space: nowrap;
}

