$menu-separator-size: 1px;
$menu-item-active-background-color: mix(#fff, #3e89cc, 50%);
$menu-border-width: 1px;
$menu-item-margin: 0;
$menu-item-border-width: 0;
$menu-padding: 0;
$menu-glyph-color: #808080;
$menu-scroller-height: 16px;

$menu-scroller-opacity: .5;
$menu-scroller-opacity-over: .6;
$menu-scroller-opacity-pressed: .7;

// Margins for non-MenuItem components in menus
$menu-component-margin: 2px;

$menu-glyph-color: #808080;
$menu-item-indent: 4px;
$menu-item-trailing-padding: 4px;
$menu-background-color: #fff;
$menu-separator-display: none;

