.x-field-login-input {
  .x-form-text {
    padding: 0 10px;
    border-radius: 3px;
    @include inner-border(1px 1px 0px 1px, black);
  }
}

.x-window {
  .x-form-text {
    background: $field-background-color;
    border-radius: 4px;
    border-width: 0;
    @include inner-border(1px 1px 0 1px, $field-shadow-color);
  }

}

// в ие8 имитируем тени границами
.#{$prefix}ie8 .x-window {
  .x-form-text {
    border-color: $field-shadow-color;
    border-width: 1px 0 0 0;
  }
}
