.document-info {
  padding: 0;
  margin: 0;

  li {
    background-repeat: no-repeat;
    background-position: 0 center;
    list-style: none;
    padding: 5px 0 5px 20px;
  }

  .document-date {
    padding: 5px 0 5px 0;
  }
}
