$window-wrap-border-width: 0;
$window-background-color: #F7F8FA;
$window-tool-background-image: '../icons/icon_close';

$window-body-border-width: 0;
$window-body-background-color: $window-background-color;

$window-border-radius: 0;
$window-border-width: 0;
$window-header-border-width: 0;
$window-header-padding: 0 20px;
$window-header-background-color: #ECF0F3;
$window-header-icon-width: 25px;
$window-header-icon-height: 19px;
$window-header-font-size: 15px;
$window-header-font-weight: normal;