@import 'ButtonMixin';

.x-btn .x-btn-icon-el {
  background-position: center center;
}
.x-toolbar .x-btn-icon-text-top .x-btn-icon-el {
  background-position: center bottom;
}

/** ui=header start */
@function linear-gradient-glossy-button($direction, $bg-color) {
  @return linear-gradient(bottom, color_stops(#FAE672, #F0B117, #FAE672));
}

.x-btn-header-small,
.x-btn-header-medium,
.x-btn-header-large{
  text-shadow: 0 1px 1px white;
  box-shadow: inset 0 0 0 1px white;
}

@include extjs-custom-button-ui(
    $ui                   : 'header-medium',
    $scale                : 'medium',

    $background-color     : #F0B117,
    $background-gradient  : 'glossy-button',
    $border-width         : 1px 0,
    $border-color         : black
);

@include extjs-custom-button-ui(
    $ui                   : 'header-toolbar-medium',
    $scale                : 'medium',

    $background-color     : #F0B117,
    $background-gradient  : 'glossy-button'
);
/** ui=header end */

/** ui=header-menu start */
@function linear-gradient-glossy-button($direction, $bg-color) {
  @return linear-gradient(bottom, color_stops(#175D92, #4893CB));
}

.x-btn-header-menu-small,
.x-btn-header-menu-medium,
.x-btn-header-menu-large{
  text-shadow: 0 1px 1px black;
}

@include extjs-custom-button-ui(
    $ui                     : 'header-menu-medium',
    $scale                  : 'medium',

    $color                  : white,
    $background-color       : #4893CB,
    $background-gradient    : 'glossy-button',
    $border-color           : black,
    $icon-size              : 20px,
    $padding                : 3px 9px 3px 3px,
    $arrow-width            : 35px,
    $include-ui-menu-arrows : true
);
/** ui=header-menu end */

@include extjs-custom-button-ui(
  $ui                     : 'form-action-small',
  $scale                  : 'small',

  $font-size              : 13px,
  $background-color       : #028ED4,
  $color                  : white
);

@include extjs-custom-button-ui(
  $ui                     : 'plain-medium',
  $scale                  : 'medium',

  $border-width           : 0,
  $border-color           : black,
  $background-color       : transparent
);

@include extjs-custom-button-ui(
  $ui                     : 'paging-medium',
  $scale                  : 'medium',

  $border-width           : 0,
  $background-color-focus : #028BD1,
  $color-focus            : white,
  $font-size              : 120%,
  $font-weight            : bolder
);

/** ui=bordered start */
@function linear-gradient-glossy-button($direction, $bg-color) {
  @return linear-gradient(bottom, color_stops(#B2CFE0, #CADFE9, #F7FAFB, #FFFFFE));
}

@include extjs-custom-button-ui(
  $ui                     : 'bordered-small',
  $scale                  : 'small',

  $border-width           : 3px,
  $border-color           : #5BB2E1 #106CAB #535E88 #6FA7CC,
  $border-radius          : 5px,

  $background-gradient    : 'glossy-button'
);
/** ui=bordered end */


/** ui=workspace start */
@function linear-gradient-glossy-button($direction, $bg-color) {
  @return linear-gradient(bottom, color_stops(#ffffff, #ffffff, #ffffff));
}

.x-btn-workspace-small,
.x-btn-workspace-medium,
.x-btn-workspace-large{
  text-shadow: 0 1px 1px white;
  box-shadow: inset 0 0 0 1px white;
  font-size: 16px;
}

@include extjs-custom-button-ui(
  $ui                   : 'workspace-medium',
  $scale                : 'medium',
  $background-color     : #fff,
  $font-size            : 16px,
  $background-gradient  : 'glossy-button',
  $border-width         : 1px 0,
  $border-color         : black
);

@include extjs-custom-button-ui(
  $ui                   : 'workspace-toolbar-medium',
  $scale                : 'medium',
  $font-size            : 16px,
  $background-color     : #fff,
  $background-gradient  : 'glossy-button'
);
/** ui=workspace end */

.x-btn-double-arrow {
  background: url(../resources/icons/icon_arrows.png) no-repeat 95% 50%;
  padding-right: 10px;
}

@include extjs-custom-button-ui(
  $ui                   : 'default-toolbar-small',
  $scale                : 'medium',

  $border-width         : 0
);
