.#{$prefix}message-box .#{$prefix}window-body {
  background-color: $messagebox-body-background-color;
  border-width: $messagebox-body-border-width;
  @if $messagebox-body-border-width != 0 {
    border-color: $messagebox-body-border-color;
    border-style: $messagebox-body-border-style;
  }
}

.#{$prefix}message-box-info,
.#{$prefix}message-box-warning,
.#{$prefix}message-box-question,
.#{$prefix}message-box-error {
  background-position: $messagebox-icon-background-position;
  background-repeat: no-repeat;
}

@if $include-rtl {
  .#{$prefix}rtl {
    &.#{$prefix}message-box-info,
    &.#{$prefix}message-box-warning,
    &.#{$prefix}message-box-question,
    &.#{$prefix}message-box-error {
      background-position: rtl-background-position($messagebox-icon-background-position)
    }
  }
}

.#{$prefix}message-box-info {
  background-image: url(images/shared/icon-info.png);
}

.#{$prefix}message-box-warning {
  background-image: url(images/shared/icon-warning.png);
}

.#{$prefix}message-box-question {
  background-image: url(images/shared/icon-question.png);
}

.#{$prefix}message-box-error {
  background-image: url(images/shared/icon-error.png);
}