$button-toolbar-border-color: transparent !default;
$button-toolbar-border-color-over: $button-toolbar-border-color !default;
$button-toolbar-border-color-focus: $button-toolbar-border-color !default;
$button-toolbar-border-color-pressed: $button-toolbar-border-color !default;
$button-toolbar-border-color-disabled: $button-toolbar-border-color !default;
$button-medium-font-size: 12px !default;
$button-medium-border-radius: 5px !default;