.#{$prefix}tbar-page-first {
  background-image: url(../resources/icons/icon_first.png);
}

.#{$prefix}tbar-page-prev {
  background-image: url(../resources/icons/icon_prev.png);
}

.#{$prefix}tbar-page-next {
  background-image: url(../resources/icons/icon_next.png);
}

.#{$prefix}tbar-page-last {
  background-image: url(../resources/icons/icon_last.png);
}